
html {
    font: 100% 'Open Sans', Helvetica, sans-serif;
}

body {
    background: #F3F7FA;
}

* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

[hidden] {
    display: none;
}
